#Import Libraries and Data Preprocessing

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
results = pd.read_csv("results.csv")

In [ ]:
results

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44201,2022-12-01,Canada,Morocco,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44202,2022-12-02,Serbia,Switzerland,NaN,NaN,FIFA World Cup,Doha,Qatar,True
44203,2022-12-02,Cameroon,Brazil,NaN,NaN,FIFA World Cup,Lusail,Qatar,True
44204,2022-12-02,Ghana,Uruguay,NaN,NaN,FIFA World Cup,Al Wakrah,Qatar,True
44205,2022-12-02,South Korea,Portugal,NaN,NaN,FIFA World Cup,Al Rayyan,Qatar,True

In [ ]:
results[results["date"] == "2022-19-22"]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
44117,2022-19-22,Rwanda,Sudan,0.0,0.0,Friendly,Kigali,Rwanda,False
44135,2022-19-22,Rwanda,Sudan,1.0,0.0,Friendly,Kigali,Rwanda,False

In [ ]:
results.iloc[44117, 0] = "2022-11-17"
results.iloc[44135, 0] = "2022-11-19"

In [ ]:
results["date"] = pd.to_datetime(results["date"])

In [ ]:
results.isna().sum()

date           0
home_team      0
away_team      0
home_score    40
away_score    40
tournament     0
city           0
country        0
neutral        0
dtype: int64

In [ ]:
results.dropna(inplace=True)

In [ ]:
results.sort_values("date").tail(10)

# 앗! 월드컵 결과 이미 반영?

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
44142,2022-11-20,Gambia,Guinea-Bissau,0.0,0.0,Friendly,Antalya,Turkey,True
44141,2022-11-20,Austria,Italy,2.0,0.0,Friendly,Vienna,Austria,False
44149,2022-11-20,North Macedonia,Azerbaijan,1.0,3.0,Friendly,Skopje,North Macedonia,False
44161,2022-11-21,United States,Wales,1.0,1.0,FIFA World Cup,Al Rayyan,Qatar,True
44159,2022-11-21,Senegal,Netherlands,0.0,2.0,FIFA World Cup,Doha,Qatar,True
44160,2022-11-21,England,Iran,6.0,2.0,FIFA World Cup,Al Rayyan,Qatar,True
44163,2022-11-22,Mexico,Poland,0.0,0.0,FIFA World Cup,Doha,Qatar,True
44164,2022-11-22,Denmark,Tunisia,0.0,0.0,FIFA World Cup,Al Rayyan,Qatar,True
44162,2022-11-22,Argentina,Saudi Arabia,1.0,2.0,FIFA World Cup,Lusail,Qatar,True
44165,2022-11-22,France,Australia,4.0,1.0,FIFA World Cup,Al Wakrah,Qatar,True

In [ ]:
results = results[("2000-01-01" <= results["date"]) & ("2022-11-19" >= results["date"])].reset_index(drop=True)
results.sort_values("date").tail()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
21360,2022-11-19,Rwanda,Sudan,1.0,0.0,Friendly,Kigali,Rwanda,False
21361,2022-11-19,Sweden,Algeria,2.0,0.0,Friendly,Malmö,Sweden,False
21362,2022-11-19,Turkey,Czech Republic,2.0,1.0,Friendly,Gaziantep,Turkey,False
21363,2022-11-19,United Arab Emirates,Kazakhstan,2.0,1.0,Friendly,Abu Dhabi,United Arab Emirates,False
21365,2022-11-19,Latvia,Iceland,1.0,1.0,Baltic Cup,Riga,Latvia,False

In [ ]:
results["home_team"].value_counts()

Mexico                       259
United States                241
Japan                        231
Qatar                        222
Bahrain                      214
                            ...
Saint Helena                   1
Romani people                  1
Saint Pierre and Miquelon      1
Aymara                         1
Sark                           1
Name: home_team, Length: 298, dtype: int64

In [ ]:
rank = pd.read_csv("fifa_ranking-2022-10-06.csv")
rank

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,1,Germany,GER,57.00,0.00,0,UEFA,1992-12-31
1,96,Syria,SYR,11.00,0.00,0,AFC,1992-12-31
2,97,Burkina Faso,BFA,11.00,0.00,0,CAF,1992-12-31
3,99,Latvia,LVA,10.00,0.00,0,UEFA,1992-12-31
4,100,Burundi,BDI,10.00,0.00,0,CAF,1992-12-31
...,...,...,...,...,...,...,...,...
63911,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
63913,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
63914,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
63915,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [ ]:
rank["rank_date"] = pd.to_datetime(rank["rank_date"])
rank = rank[("2000-01-01" <= rank["rank_date"]) & ("2022-11-19" >= rank["rank_date"])].reset_index(drop=True)

In [ ]:
rank["country_full"] = rank["country_full"].str.replace("IR Iran", "Iran").str.replace("Korea Republic", "South Korea").str.replace("USA", "United States")

In [ ]:
rank = rank.set_index(['rank_date']).groupby(['country_full'], group_keys=False).resample('D').first().fillna(method='ffill').reset_index()

In [ ]:
rank.sort_values("rank_date")

,rank_date,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation
1597868,2000-01-19,130.0,Turkmenistan,TKM,251.00,251.00,1.0,AFC
1314974,2000-01-19,39.0,Saudi Arabia,KSA,556.00,556.00,0.0,AFC
1087704,2000-01-19,19.0,Netherlands,NED,640.00,641.00,0.0,UEFA
883079,2000-01-19,154.0,Lesotho,LES,170.00,170.00,0.0,CAF
139957,2000-01-19,113.0,Barbados,BRB,322.00,322.00,0.0,CONCACAF
...,...,...,...,...,...,...,...,...
1015830,2022-10-06,13.0,Mexico,MEX,1644.89,1649.57,1.0,CONCACAF
363738,2022-10-06,17.0,Colombia,COL,1611.04,1604.07,0.0,CONMEBOL
355441,2022-10-06,157.0,Chinese Taipei,TPE,1017.78,1017.78,0.0,AFC
689971,2022-10-06,116.0,Guinea-Bissau,GNB,1160.71,1165.53,1.0,CAF
1731699,2022-10-06,125.0,Zimbabwe,ZIM,1138.56,1138.56,2.0,CAF

In [ ]:
df = results.merge(rank[["country_full", "total_points", "previous_points", "rank_date"]], 
                   left_on=["date", "home_team"], 
                   right_on=["rank_date", "country_full"]).drop(["rank_date", "country_full"], axis=1)

df = df.merge(rank[["country_full", "total_points", "previous_points", "rank_date"]], 
              left_on=["date", "away_team"], 
              right_on=["rank_date", "country_full"], suffixes=("_home", "_away")).drop(["rank_date", "country_full"], axis=1)

df = df.drop(["tournament", "city", "neutral", "country"], axis=1)

In [ ]:
df[(df.home_team == "South Korea") | (df.away_team == "South Korea")].tail(10)

,date,home_team,away_team,home_score,away_score,total_points_home,previous_points_home,total_points_away,previous_points_away
17777,2022-01-27,Lebanon,South Korea,0.0,1.0,1233.00,1233.76,1507.24,1507.24
17808,2022-02-01,Syria,South Korea,0.0,2.0,1268.54,1269.96,1507.24,1507.24
17849,2022-03-24,South Korea,Iran,2.0,0.0,1522.85,1507.24,1572.89,1557.58
17934,2022-03-29,United Arab Emirates,South Korea,1.0,0.0,1353.10,1350.39,1522.85,1507.24
18032,2022-06-02,South Korea,Brazil,1.0,5.0,1519.54,1522.85,1832.69,1823.42
18099,2022-06-06,South Korea,Chile,2.0,0.0,1519.54,1522.85,1526.40,1543.16
18166,2022-06-10,South Korea,Paraguay,2.0,2.0,1519.54,1522.85,1443.30,1440.53
18248,2022-06-14,South Korea,Egypt,4.0,1.0,1519.54,1522.85,1500.67,1497.05
18284,2022-09-23,South Korea,Costa Rica,2.0,2.0,1526.02,1526.20,1500.06,1500.06
18358,2022-09-27,South Korea,Cameroon,1.0,0.0,1526.02,1526.20,1484.95,1484.95

In [ ]:
df.home_team.value_counts()[:40]

Mexico                  249
United States           236
Japan                   217
Qatar                   208
Bahrain                 199
Saudi Arabia            198
South Korea             195
Oman                    188
South Africa            183
United Arab Emirates    179
France                  178
Germany                 178
Thailand                175
Egypt                   171
Brazil                  168
China PR                163
Jordan                  163
Italy                   161
Kuwait                  159
Iran                    159
Portugal                156
Costa Rica              154
Spain                   153
Honduras                151
Netherlands             151
Poland                  149
England                 149
Argentina               148
Morocco                 144
Tunisia                 141
Republic of Ireland     140
El Salvador             136
Sweden                  136
Iraq                    136
Zambia                  134
Algeria                 134
Malaysia                133
Estonia                 133
Singapore               132
Australia               131
Name: home_team, dtype: int64

In [ ]:
def swap_columns(df, col1, col2):
    tmp = df[col1].copy(deep=True)
    df[col1] = df[col2]
    df[col2] = tmp
    return df

In [ ]:
df_swaped = df.copy(deep=True)
df_swaped = swap_columns(df_swaped, "home_team", "away_team")
df_swaped = swap_columns(df_swaped, "home_score", "away_score")
df_swaped = swap_columns(df_swaped, "total_points_home", "total_points_away")
df_swaped = swap_columns(df_swaped, "previous_points_home", "previous_points_away")

In [ ]:
df = pd.concat([df, df_swaped], ignore_index=True).sort_values("date").reset_index(drop=True)
df

,date,home_team,away_team,home_score,away_score,total_points_home,previous_points_home,total_points_away,previous_points_away
0,2000-01-19,Panama,Guatemala,2.0,0.0,214.00,214.00,454.00,453.00
1,2000-01-19,Guatemala,Panama,0.0,2.0,454.00,453.00,214.00,214.00
2,2000-01-19,Egypt,Togo,0.0,1.0,558.00,556.00,413.00,416.00
3,2000-01-19,Togo,Egypt,1.0,0.0,413.00,416.00,558.00,556.00
4,2000-01-20,Malta,Qatar,2.0,0.0,308.00,309.00,357.00,357.00
...,...,...,...,...,...,...,...,...,...
36759,2022-09-27,Mexico,Colombia,2.0,3.0,1649.57,1649.57,1604.07,1604.07
36760,2022-09-27,Malta,Israel,2.0,1.0,974.68,974.68,1316.35,1316.35
36761,2022-09-27,Cyprus,Kosovo,1.0,5.0,1180.52,1180.52,1183.90,1183.90
36762,2022-09-30,Fiji,Solomon Islands,1.0,0.0,993.37,993.37,1092.56,1092.56
36763,2022-09-30,Solomon Islands,Fiji,0.0,1.0,1092.56,1092.56,993.37,993.37

In [ ]:
def feature_maker(date, team1, team2):
    res = []
    team1_data = df[(df["date"] <= date) & (df["home_team"] == team1)]
    team2_data = df[(df["date"] <= date) & (df["home_team"] == team2)]

    if len(team1_data) < 6 or len(team2_data) < 6:
        return False

    res.append(team1_data.previous_points_home.iloc[-1]/1000)
    res.append(team2_data.previous_points_home.iloc[-1]/1000)

    for i in range(-2, -7, -1):
        res.append(team1_data.home_score.iloc[i])
        res.append(team1_data.away_score.iloc[i])
        res.append(team1_data.total_points_away.iloc[i]/1000)

    for i in range(-2, -7, -1):
        res.append(team2_data.home_score.iloc[i])
        res.append(team2_data.away_score.iloc[i])
        res.append(team2_data.total_points_away.iloc[i]/1000)

    return res

In [ ]:
from tqdm import tqdm

In [ ]:
train_x, train_y = [], []
for idx, date, team1, team2, score1, score2, total1, prev1, total2, prev2 in tqdm(df.itertuples(), total=len(df)):
    feature = feature_maker(date, team1, team2)
    if not feature:
        continue
    else:
        train_x.append(feature)
        if score1 == score2:
            train_y.append([0, 1, 0])
        elif score1 > score2:
            train_y.append([1, 0, 0])
        else:
            train_y.append([0, 0, 1])

100%|██████████| 36764/36764 [04:50<00:00, 126.69it/s]

In [ ]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from keras.layers import Dense, Dropout
from keras.callbacks import ModelCheckpoint, EarlyStopping

In [ ]:
train_x, train_y = np.array(train_x), np.array(train_y)

train_x, valid_x, train_y, valid_y = train_test_split(train_x, train_y, test_size = 0.2, shuffle=True, stratify=train_y, random_state=37)

In [ ]:
model = tf.keras.models.Sequential([
    Dense(128, input_shape=(32,), activation='relu'),
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dropout(0.2),
    Dense(16, activation='relu'),
    Dense(3, activation='softmax')
])

model.summary()

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['acc'])

checkpoint = ModelCheckpoint(filepath='checkpoint.ckpt',
                             save_weights_only=True,
                             save_best_only=True,
                             monitor='val_loss',
                             verbose=1)

early_stop = EarlyStopping(monitor='val_loss', patience=10)

model.fit(train_x, train_y,
          validation_data=(valid_x, valid_y),
          epochs=10000,
          callbacks=[checkpoint, early_stop],
          batch_size=16,
          shuffle=True,
          verbose=1)

model.load_weights('checkpoint.ckpt')

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               4224

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 32)                2080

 dropout (Dropout)           (None, 32)                0

 dense_3 (Dense)             (None, 16)                528

 dense_4 (Dense)             (None, 3)                 51

=================================================================
Total params: 15,139
Trainable params: 15,139
Non-trainable params: 0
_________________________________________________________________
Epoch 1/10000
1755/1772 [============================>.] - ETA: 0s - loss: 1.0041 - acc: 0.5070
Epoch 1: val_loss improved from inf to 0.96662, saving model to checkpoint.ckpt
1772/1772 [==============================] - 5s 2ms/step - loss: 1.0041 - acc: 0.5070 - val_loss: 0.9666 - val_acc: 0.5377
Epoch 2/10000
1760/1772 [============================>.] - ETA: 0s - loss: 0.9696 - acc: 0.5380
Epoch 2: val_loss improved from 0.96662 to 0.96419, saving model to checkpoint.ckpt
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9699 - acc: 0.5377 - val_loss: 0.9642 - val_acc: 0.5421
Epoch 3/10000
1752/1772 [============================>.] - ETA: 0s - loss: 0.9602 - acc: 0.5431
Epoch 3: val_loss improved from 0.96419 to 0.95773, saving model to checkpoint.ckpt
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9604 - acc: 0.5430 - val_loss: 0.9577 - val_acc: 0.5464
Epoch 4/10000
1760/1772 [============================>.] - ETA: 0s - loss: 0.9560 - acc: 0.5473
Epoch 4: val_loss improved from 0.95773 to 0.94863, saving model to checkpoint.ckpt
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9562 - acc: 0.5473 - val_loss: 0.9486 - val_acc: 0.5461
Epoch 5/10000
1760/1772 [============================>.] - ETA: 0s - loss: 0.9531 - acc: 0.5509
Epoch 5: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9528 - acc: 0.5512 - val_loss: 0.9528 - val_acc: 0.5511
Epoch 6/10000
1748/1772 [============================>.] - ETA: 0s - loss: 0.9508 - acc: 0.5539
Epoch 6: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9506 - acc: 0.5538 - val_loss: 0.9536 - val_acc: 0.5483
Epoch 7/10000
1748/1772 [============================>.] - ETA: 0s - loss: 0.9476 - acc: 0.5558
Epoch 7: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9479 - acc: 0.5555 - val_loss: 0.9629 - val_acc: 0.5452
Epoch 8/10000
1750/1772 [============================>.] - ETA: 0s - loss: 0.9443 - acc: 0.5536
Epoch 8: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9438 - acc: 0.5539 - val_loss: 0.9566 - val_acc: 0.5478
Epoch 9/10000
1747/1772 [============================>.] - ETA: 0s - loss: 0.9418 - acc: 0.5582
Epoch 9: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9421 - acc: 0.5577 - val_loss: 0.9553 - val_acc: 0.5485
Epoch 10/10000
1750/1772 [============================>.] - ETA: 0s - loss: 0.9392 - acc: 0.5588
Epoch 10: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9387 - acc: 0.5588 - val_loss: 0.9607 - val_acc: 0.5389
Epoch 11/10000
1770/1772 [============================>.] - ETA: 0s - loss: 0.9356 - acc: 0.5602
Epoch 11: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9358 - acc: 0.5601 - val_loss: 0.9602 - val_acc: 0.5468
Epoch 12/10000
1755/1772 [============================>.] - ETA: 0s - loss: 0.9339 - acc: 0.5598
Epoch 12: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9336 - acc: 0.5600 - val_loss: 0.9530 - val_acc: 0.5478
Epoch 13/10000
1771/1772 [============================>.] - ETA: 0s - loss: 0.9309 - acc: 0.5630
Epoch 13: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9308 - acc: 0.5631 - val_loss: 0.9752 - val_acc: 0.5353
Epoch 14/10000
1752/1772 [============================>.] - ETA: 0s - loss: 0.9248 - acc: 0.5657
Epoch 14: val_loss did not improve from 0.94863
1772/1772 [==============================] - 4s 2ms/step - loss: 0.9251 - acc: 0.5659 - val_loss: 0.9690 - val_acc: 0.5392

# World Cup Simulation

In [ ]:
dfs = pd.read_html(r"https://en.wikipedia.org/wiki/2022_FIFA_World_Cup#Teams")

In [ ]:
from collections.abc import Iterable

for i in range(len(dfs)):
    df_ = dfs[i]
    cols = list(df_.columns.values)
    
    if isinstance(cols[0], Iterable):
        if any("Tie-breaking criteria" in c for c in cols):
            start_pos = i+1

        if any("Match 46" in c for c in cols):
            end_pos = i+1

In [ ]:
matches = []
groups = ["A", "B", "C", "D", "E", "F", "G", "H"]
group_count = 0 

table = {}
#TABLE -> TEAM, POINTS, WIN PROBS (CRITERIO DE DESEMPATE)
table[groups[group_count]] = [[a.split(" ")[0], 0, []] for a in list(dfs[start_pos].iloc[:, 1].values)]

for i in range(start_pos+1, end_pos, 1):
    if len(dfs[i].columns) == 3:
        team_1 = dfs[i].columns.values[0]
        team_2 = dfs[i].columns.values[-1]
        
        matches.append((groups[group_count], team_1, team_2))
    else:
        group_count+=1
        table[groups[group_count]] = [[a, 0, []] for a in list(dfs[i].iloc[:, 1].values)]

In [ ]:
table

{'A': [['Netherlands', 0, []],
  ['Ecuador', 0, []],
  ['Senegal', 0, []],
  ['Qatar', 0, []]],
 'B': [['England', 0, []],
  ['Wales', 0, []],
  ['United States', 0, []],
  ['Iran', 0, []]],
 'C': [['Saudi Arabia', 0, []],
  ['Poland', 0, []],
  ['Mexico', 0, []],
  ['Argentina', 0, []]],
 'D': [['France', 0, []],
  ['Tunisia', 0, []],
  ['Denmark', 0, []],
  ['Australia', 0, []]],
 'E': [['Spain', 0, []],
  ['Japan', 0, []],
  ['Germany', 0, []],
  ['Costa Rica', 0, []]],
 'F': [['Belgium', 0, []],
  ['Croatia', 0, []],
  ['Morocco', 0, []],
  ['Canada', 0, []]],
 'G': [['Brazil', 0, []],
  ['Serbia', 0, []],
  ['Switzerland', 0, []],
  ['Cameroon', 0, []]],
 'H': [['Portugal', 0, []],
  ['Ghana', 0, []],
  ['Uruguay', 0, []],
  ['South Korea', 0, []]]}

In [ ]:
matches[:10]

[('A', 'Qatar', 'Ecuador'),
 ('A', 'Senegal', 'Netherlands'),
 ('A', 'Qatar', 'Senegal'),
 ('A', 'Netherlands', 'Ecuador'),
 ('A', 'Ecuador', 'Senegal'),
 ('A', 'Netherlands', 'Qatar'),
 ('B', 'England', 'Iran'),
 ('B', 'United States', 'Wales'),
 ('B', 'Wales', 'Iran'),
 ('B', 'England', 'United States')]

In [ ]:
from operator import itemgetter

In [ ]:
advanced_group = []
last_group = ""

for k in table.keys():
    for t in table[k]:
        t[1] = 0
        t[2] = []
        
for teams in matches:
    draw = False

    feature = np.array([feature_maker(pd.to_datetime("2022-11-30"), teams[1], teams[2])])
    result = model.predict(feature, verbose=0)
    
    prob1, prob_draw, prob2 = result[0, 0], result[0, 1], result[0, 2]
    

    if max(prob1, prob_draw, prob2) == prob_draw:
        draw=True
        for i in table[teams[0]]:
            if i[0] == teams[1] or i[0] == teams[2]:
                i[1] += 1
                
    elif max(prob1, prob_draw, prob2) == prob1:
        winner = teams[1]
        winner_proba = prob1
        for i in table[teams[0]]:
            if i[0] == teams[1]:
                i[1] += 3
                
    elif max(prob1, prob_draw, prob2) == prob2:  
        winner = teams[2]
        winner_proba = prob2
        for i in table[teams[0]]:
            if i[0] == teams[2]:
                i[1] += 3
    
    for i in table[teams[0]]: #adding criterio de desempate (probs por jogo)
            if i[0] == teams[1]:
                i[2].append(prob1)
            if i[0] == teams[2]:
                i[2].append(prob2)

    if last_group != teams[0]:
        if last_group != "":
            print("\n")
            print("Group %s advanced: "%(last_group))
            
            for i in table[last_group]: #adding crieterio de desempate
                i[2] = np.mean(i[2])
            
            final_points = table[last_group]
            final_table = sorted(final_points, key=itemgetter(1, 2), reverse = True)
            advanced_group.append([final_table[0][0], final_table[1][0]])
            for i in final_table:
                print("%s -------- %d"%(i[0], i[1]))
        print("\n")
        print("-"*10+" Starting Analysis for Group %s "%(teams[0])+"-"*10)
        
        
    if draw == False:
        print("Group %s - %s vs. %s: Winner %s with %.2f probability"%(teams[0], teams[1], teams[2], winner, winner_proba))
    else:
        print("Group %s - %s vs. %s: Draw"%(teams[0], teams[1], teams[2]))
    last_group =  teams[0]

print("\n")
print("Group %s advanced: "%(last_group))

for i in table[last_group]: #adding crieterio de desempate
    i[2] = np.mean(i[2])
            
final_points = table[last_group]
final_table = sorted(final_points, key=itemgetter(1, 2), reverse = True)
advanced_group.append([final_table[0][0], final_table[1][0]])
for i in final_table:
    print("%s -------- %d"%(i[0], i[1]))

---------- Starting Analysis for Group A ----------
Group A - Qatar vs. Ecuador: Winner Ecuador with 0.46 probability
Group A - Senegal vs. Netherlands: Winner Netherlands with 0.55 probability
Group A - Qatar vs. Senegal: Winner Senegal with 0.52 probability
Group A - Netherlands vs. Ecuador: Winner Netherlands with 0.62 probability
Group A - Ecuador vs. Senegal: Winner Senegal with 0.40 probability
Group A - Netherlands vs. Qatar: Winner Netherlands with 0.68 probability


Group A advanced:
Netherlands -------- 9
Senegal -------- 6
Ecuador -------- 3
Qatar -------- 0


---------- Starting Analysis for Group B ----------
Group B - England vs. Iran: Winner England with 0.37 probability
Group B - United States vs. Wales: Winner United States with 0.37 probability
Group B - Wales vs. Iran: Winner Wales with 0.44 probability
Group B - England vs. United States: Winner United States with 0.39 probability
Group B - Wales vs. England: Winner Wales with 0.38 probability
Group B - Iran vs. United States: Winner United States with 0.36 probability


Group B advanced:
United States -------- 9
Wales -------- 6
England -------- 3
Iran -------- 0


---------- Starting Analysis for Group C ----------
Group C - Argentina vs. Saudi Arabia: Winner Argentina with 0.63 probability
Group C - Mexico vs. Poland: Winner Mexico with 0.41 probability
Group C - Poland vs. Saudi Arabia: Winner Poland with 0.44 probability
Group C - Argentina vs. Mexico: Winner Argentina with 0.55 probability
Group C - Poland vs. Argentina: Winner Argentina with 0.63 probability
Group C - Saudi Arabia vs. Mexico: Winner Mexico with 0.52 probability


Group C advanced:
Argentina -------- 9
Mexico -------- 6
Poland -------- 3
Saudi Arabia -------- 0


---------- Starting Analysis for Group D ----------
Group D - Denmark vs. Tunisia: Winner Denmark with 0.44 probability
Group D - France vs. Australia: Winner France with 0.57 probability
Group D - Tunisia vs. Australia: Winner Tunisia with 0.48 probability
Group D - France vs. Denmark: Winner France with 0.37 probability
Group D - Australia vs. Denmark: Winner Denmark with 0.60 probability
Group D - Tunisia vs. France: Winner France with 0.42 probability


Group D advanced:
France -------- 9
Denmark -------- 6
Tunisia -------- 3
Australia -------- 0


---------- Starting Analysis for Group E ----------
Group E - Germany vs. Japan: Winner Germany with 0.43 probability
Group E - Spain vs. Costa Rica: Winner Spain with 0.52 probability
Group E - Japan vs. Costa Rica: Winner Japan with 0.48 probability
Group E - Spain vs. Germany: Winner Spain with 0.42 probability
Group E - Japan vs. Spain: Winner Spain with 0.36 probability
Group E - Costa Rica vs. Germany: Winner Germany with 0.53 probability


Group E advanced:
Spain -------- 9
Germany -------- 6
Japan -------- 3
Costa Rica -------- 0


---------- Starting Analysis for Group F ----------
Group F - Morocco vs. Croatia: Winner Croatia with 0.52 probability
Group F - Belgium vs. Canada: Winner Belgium with 0.51 probability
Group F - Belgium vs. Morocco: Winner Belgium with 0.56 probability
Group F - Croatia vs. Canada: Winner Croatia with 0.43 probability
Group F - Croatia vs. Belgium: Winner Belgium with 0.43 probability
Group F - Canada vs. Morocco: Winner Canada with 0.40 probability


Group F advanced:
Belgium -------- 9
Croatia -------- 6
Canada -------- 3
Morocco -------- 0


---------- Starting Analysis for Group G ----------
Group G - Switzerland vs. Cameroon: Winner Switzerland with 0.52 probability
Group G - Brazil vs. Serbia: Winner Brazil with 0.59 probability
Group G - Cameroon vs. Serbia: Winner Serbia with 0.58 probability
Group G - Brazil vs. Switzerland: Winner Brazil with 0.65 probability
Group G - Serbia vs. Switzerland: Winner Serbia with 0.39 probability
Group G - Cameroon vs. Brazil: Winner Brazil with 0.73 probability


Group G advanced:
Brazil -------- 9
Serbia -------- 6
Switzerland -------- 3
Cameroon -------- 0


---------- Starting Analysis for Group H ----------
Group H - Uruguay vs. South Korea: Winner Uruguay with 0.57 probability
Group H - Portugal vs. Ghana: Winner Portugal with 0.70 probability
Group H - South Korea vs. Ghana: Winner South Korea with 0.62 probability
Group H - Portugal vs. Uruguay: Winner Portugal with 0.38 probability
Group H - Ghana vs. Uruguay: Winner Uruguay with 0.74 probability
Group H - South Korea vs. Portugal: Winner Portugal with 0.53 probability


Group H advanced:
Portugal -------- 9
Uruguay -------- 6
South Korea -------- 3
Ghana -------- 0

In [ ]:
advanced = advanced_group
playoffs = {"Round of 16": [], "Quarter-Final": [], "Semi-Final": [], "Final": []}

In [ ]:
for p in playoffs.keys():
    playoffs[p] = []

actual_round = ""
next_rounds = []

for p in playoffs.keys():
    if p == "Round of 16":
        control = []
        for a in range(0, len(advanced*2), 1):
            if a < len(advanced):
                if a % 2 == 0:
                    control.append((advanced*2)[a][0])
                else:
                    control.append((advanced*2)[a][1])
            else:
                if a % 2 == 0:
                    control.append((advanced*2)[a][1])
                else:
                    control.append((advanced*2)[a][0])

        playoffs[p] = [[control[c], control[c+1]] for c in range(0, len(control)-1, 1) if c%2 == 0]
        
        for i in range(0, len(playoffs[p]), 1):
            game = playoffs[p][i]
            
            home = game[0]
            away = game[1]

            feature = np.array([feature_maker(pd.to_datetime("2022-11-30"), home, away)])
            result = model.predict(feature, verbose=0)
            
            prob1, prob_draw, prob2 = result[0, 0], result[0, 1], result[0, 2]

            
            if actual_round != p:
                print("-"*10)
                print("Starting simulation of %s"%(p))
                print("-"*10)
                print("\n")
            
            if prob1 < prob2:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, away, prob2))
                next_rounds.append(away)
            else:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, home, prob1))
                next_rounds.append(home)
            
            game.append([prob1, prob2])
            playoffs[p][i] = game
            actual_round = p
        
    else:
        playoffs[p] = [[next_rounds[c], next_rounds[c+1]] for c in range(0, len(next_rounds)-1, 1) if c%2 == 0]
        next_rounds = []
        for i in range(0, len(playoffs[p])):
            game = playoffs[p][i]
            home = game[0]
            away = game[1]

            feature = np.array([feature_maker(pd.to_datetime("2022-11-30"), home, away)])
            result = model.predict(feature, verbose=0)
            
            prob1, prob_draw, prob2 = result[0, 0], result[0, 1], result[0, 2]   

            if actual_round != p:
                print("-"*10)
                print("Starting simulation of %s"%(p))
                print("-"*10)
                print("\n")
            
            if prob1 < prob2:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, away, prob2))
                next_rounds.append(away)
            else:
                print("%s vs. %s: %s advances with prob %.2f"%(home, away, home, prob1))
                next_rounds.append(home)
            game.append([prob1, prob2])
            playoffs[p][i] = game
            actual_round = p

----------
Starting simulation of Round of 16
----------


Netherlands vs. Wales: Netherlands advances with prob 0.51
Argentina vs. Denmark: Argentina advances with prob 0.50
Spain vs. Croatia: Spain advances with prob 0.41
Brazil vs. Uruguay: Brazil advances with prob 0.54
Senegal vs. United States: United States advances with prob 0.36
Mexico vs. France: France advances with prob 0.50
Germany vs. Belgium: Belgium advances with prob 0.38
Serbia vs. Portugal: Portugal advances with prob 0.50
----------
Starting simulation of Quarter-Final
----------


Netherlands vs. Argentina: Netherlands advances with prob 0.36
Spain vs. Brazil: Brazil advances with prob 0.54
United States vs. France: France advances with prob 0.44
Belgium vs. Portugal: Portugal advances with prob 0.38
----------
Starting simulation of Semi-Final
----------


Netherlands vs. Brazil: Brazil advances with prob 0.42
France vs. Portugal: Portugal advances with prob 0.49
----------
Starting simulation of Final
----------


Brazil vs. Portugal: Brazil advances with prob 0.49